* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(Black, #5FA9A9, #74DEDE, #BAF7F7, #ECFFFF);
    color: black !important;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: snow;
}

nav {
    padding: 2%;
}

.icon {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-decoration: none !important;
    color: black;
    padding: 1%;
}

a:hover {
    background-color: black;
    color: white;
}

a:active {
    background-color: teal;
    color: sienna;
}

#ft {
    width: 70px !important;
}

ul li {
    display: inline;
}

img {
    width: 30%;
    border-radius: 15px 40px;
    box-shadow: 5px 5px 5px #17CF83;
}

footer {
    padding: 3%;
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.footer {
    width: 120px;
}

section {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 190%;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-instagram {
    background: #d95232;
}

.social ul li .icon-linkedin {
    background: #17CF83;
}

.social ul li .icon-mail2 {
    background: #666666;
}

.social ul li a:hover {
    background: rgb(61, 76, 85);
    padding: 10px 30px;
}

.is-primary {
    background-color: rgb(210, 216, 200);
}

.cabecera {
    background-color: rgb(210, 216, 200);
}

.interno li a {
    color: black;
    background-color: white;
}

.interno li a:hover {
    color: white;
    background-color: black;
}

.navbar-brand .navbar-item a {
    font-size: 40px;
}

.navbar-item a {
    color: black;
}

.navbar-item a:hover {
    color: blue;
    background-color: rgb(210, 216, 200);
    ;
}