body {
    background: linear-gradient(Black, #5FA9A9, #74DEDE, #BAF7F7, #ECFFFF);
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: snow;
}

nav {
    padding: 2%;
}

.icon {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 1%;
}

a:hover {
    background-color: black;
    color: white;
}

a:active {
    background-color: teal;
    color: sienna;
}

ul li {
    display: inline;
}

img {
    width: 30%;
    border-radius: 15px 40px;
    box-shadow: 5px 5px 5px #17CF83;
}

footer {
    padding: 3%;
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.footer {
    width: 50px;
}

section {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 190%;
}