* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    color: black;
}

nav {
    text-align: center;
}

nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 1%;
    text-align: center;
}

nav a:hover {
    background-color: black;
    color: white;
}

.contenedor {
    border-top: 1px solid rgb(230, 92, 28);
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cabecera img {
    width: 250px;
}

.noticias {
    border-right: 2px solid rgb(230, 92, 28);
    max-width: 280px;
    margin-bottom: 35px;
    margin: 20px;
    padding: 10px;
}

.imgb {
    width: 30px !important;
}

.inmobiliario span {
    color: #D54E18;
    font-weight: bold;
}

.talentoCultura span {
    color: #D5A718;
    font-weight: bold;
}

.legalPolitico span {
    color: #B818D5;
    font-weight: bold;
}

.inmobiliario button {
    background-color: #D54E18;
    color: white;
    font-weight: bold;
}

.talentoCultura button {
    background-color: #D5A718;
    color: white;
    font-weight: bold;
}

.legalPolitico button {
    background-color: #B818D5;
    color: white;
    font-weight: bold;
}

.foot {
    position: relative;
    text-align: right;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.pie {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.ocultar {
    display: none;
}

.mostrar {
    display: flex;
}